CONTAINER_NAME="shlink"
DATA_PATH="./data"
PANEL_APP_PORT_HTTP="40061"
SHLINK_EXTERNAL_URL="s.test"
IS_HTTPS_ENABLED="true"
GEOLITE_LICENSE_KEY="kjh23ljkbndskj345"
PANEL_DB_DRIVER="mysql"
PANEL_DB_HOST="mysql"
PANEL_DB_NAME="shlink_jemwy4"
PANEL_DB_USER="shlink_4Gxdra"
PANEL_DB_USER_PASSWORD="shlink_tDKsaW"