CONTAINER_NAME="shlink"
DATA_PATH="./data"
PANEL_APP_PORT_HTTP="40061"
PANEL_DB_HOST="mysql"
PANEL_DB_DRIVER="mysql"
PANEL_DB_NAME="shlink_b7A5eJ"
PANEL_DB_USER="shlink_V2tRNy"
PANEL_DB_USER_PASSWORD="shlink_KkPi01"
GEOLITE_LICENSE_KEY="kjh23ljkbndskj345"
IS_HTTPS_ENABLED=true
PANEL_DB_PORT="3306"
SHLINK_EXTERNAL_URL="s.test"
